/* 
Add in your custom style such that you can develop the wonderful website within the exercise. 
*/

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/*
font style
*/
#navbar-example2 a,
h1,
h4,
.col h2,
.col p {
  font-family: "Russo One", sans-serif;
}

h1 {
  font-size: 48px;
}

.section p {
  font-size: 24px;
}

.col h2 {
  border: 2px solid #ccc;
  border-radius: 10px;
}

.col h1 {
  color: #ccc;
}

/*
body style
*/
.header .row {
  background-color: rgb(39, 55, 77);
  min-height: 30em;
}
.header .col {
  margin-bottom: 10px;
}

.section .row {
  color: #fff;
  padding: 20px;
  min-height: 30em;
}
.section .col {
  margin-bottom: 10px;
}

.section:nth-child(odd) {
  background: rgb(82, 109, 130);
}

.section:nth-child(even) {
  background: rgb(157, 178, 191);
}

.footer {
  background-color: rgb(219, 46, 46);
  height: 15em;
}

.footer .row {
  min-height: 5em;
}

/* 
img style 
*/
#mySkillSub img {
  width: 10em;
}

/* 
Typewriter Animation 
*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
